* {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px black;
}

@media screen and (min-width:950px) {
  p {
    width: 550px;
  }
}

body {
  background-color: #fafafa;
}

img.rounded {
  border-radius: 50%;
}

img.background {
  opacity: 0.7;
  object-fit: cover;
  height: 300px;
}

.overlay {
  position: absolute;
  overflow: hidden;
}

img.center {
  display: block;
  margin: auto;
  max-width: 30%;
  min-width: 30%;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.row {
  width: auto;
  display: flex;
  justify-content: space-evenly;
}

div.cell {
  display: flex;
  justify-content: space-evenly;
  text-align: right;
  padding: 16px;
  background-color: #fafafa;
  border: 3px solid black;
  border-radius: 25px;
}

div.cell:hover {
  display: flex;
  background-color: #ddd;
  color: black;
}

h1 {
  color: black;
}

p {
  color: black;
}