* {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px black;
}

@media screen and (min-width:950px) {
  p {
    width: 550px;
  }
}

body {
  background-color: #fafafa;
}

img.rounded {
  border-radius: 50%;
}

img.background {
  display: inline;
  opacity: 0.7;
  object-fit: cover;
  height: 150px;
  min-width: 1920px;
  overflow: hidden;
}

.overlay {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.center {
  display: block;
  margin: auto;
  max-width: 150px;
  min-width: 150px;
}

div.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.containercol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.row {
  width: auto;
  display: flex;
  justify-content: space-evenly;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.icon {
  height: 30px;
  width: 30px;
}

div.cell {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px;
}

div.backgroundandborder {
  background-color: #fafafa;
  border: 2px solid black;
  border-radius: 25px;
}

div.cell:hover {
  display: flex;
  background-color: #ddd;
  color: black;
}

h1 {
  color: black;
  text-align: left;
}

p {
  color: black;
  text-align: left;
}