* {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width:950px) {
  p {
    width: 550px;
  }
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

img.rounded {
  border-radius: 50%;
}

.background {
  display: flex;
  background-color: rgb(80, 150, 80);
  background-size: cover;
  width: 100%;
}

.headshot {
  width: auto;
  height: 200px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

div.evencontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

div.row {
  width: auto;
  display: flex;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.icon {
  height: 30px;
  width: 30px;
}

div.cell {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  padding: 10px;
}

.wide {
  width: 100%;
}

.borderbottom {
  border-bottom: 1px solid black;
}

button {
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  padding: 5px;
  background-color: transparent;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
}

button:hover {
  display: flex;
  background-color: #dddddd77;
  color: black;
}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: lighter;
}

p.indent {
  text-indent: 30px;
}